<div>
    <h1>Dashboard</h1>
    <p>Welcome <%= user.name %></p></br>
    <p>Current Active Sessions:</p>
    <p> <%= sessions[0] %> </p>
    <% for(i=0; i<sessions.length; i++) { %>
        <p>123</p>
        <p>SessionID: <%= sessions[i] %></p>
        <p>UserID: <%= sessions[i][passport] %></p>
    <% } %>
</div>